DJANGO_SETTINGS_MODULE=kallan.settings
DJANGO_SECRET_KEY=...
DJANGO_DEBUG=0

DJANGO_ALLOWED_HOSTS=...
DJANGO_CSRF_TRUSTED_ORIGINS=...

DJANGO_STATIC_ROOT=/srv/static
DJANGO_MEDIA_ROOT=/srv/media

DB_NAME=kallan
DB_USER=kallan
DB_PASSWORD=...
DB_HOST=db
DB_PORT=5432

POSTGRES_DB=kallan
POSTGRES_USER=kallan
POSTGRES_PASSWORD=...

VAPID_PUBLIC_KEY=...
VAPID_PRIVATE_KEY=...
VAPID_SUBJECT=mailto:...

CLOUDFLARED_TOKEN=...
